$cont-width: 215px;
$cont-height: $cont-width * 1.2;

%flex-center-declaration{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.event-container{
    box-shadow: 3px 3px 10px 3px #c7c2c2;
    width: $cont-width;
    height: $cont-height;
    

    div.event-picture{
        width: 100%;
        height: $cont-width * .7;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    div.event-info{
        font-size: .8em;

        div.event-flex-title{
            @extend %flex-center-declaration;
            flex-direction: column;

            h3.event-title{
                text-align: center;
                margin-top: 5px;
            }
    
            div.event-break{
                width: $cont-width * .25;
                border-bottom: 2px solid orange;
                margin: 10px 0;
            }
        }

        div.event-flex-details{
            @extend %flex-center-declaration;
            text-align: center;
            
            p.event-place{
                width: $cont-width * .8;
                
            }

            p.event-date{
                // 
            }
        }

        
    }
}